.btn{
    padding: 16px 32px;
    text-transform: uppercase;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    text-align: left;
    background-color: $yellow;
    border: none;
    border-radius: 5px;
}

#first-pass{
    display: none;
}

.passed-btn{
    display: none;
    
    color: $green;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;

    text-align: right;

    padding-bottom: 16px;
    position: relative;
    top: 0;
    right: 0;
}